.button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: crimson;
    color: aliceblue;
    font-size: 40px;
    cursor: pointer;
    transition: all .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:nth-child(2) {
    align-items: flex-start;
}

.button:hover {
    background-color: rgb(184, 22, 54);
}