.container {
  margin: 30px auto;
  min-height: 300px;
  max-width: 400px;
  border: 2px solid crimson;
  border-radius: 10px;
  padding: 20px;
}

.container h1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
}